/*Contact Page*/
.contact_form {
    display: flex;
    flex-direction:column;
    width: 100%;
    color: white;
    font-weight: bold;
    align-items: center;
    margin: 0 auto ;
    padding: 20px;
    box-sizing:border-box;
}

.form {
    display: flex;
    justify-content: center;
    width:100%;
}

.contact {
    color:white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.owl {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;  
}
.main {
    flex: 1;
} 